<div class="ads block">
  <span>Реклама</span>
  <a href="javascript:void(0)">
    <img src="http://publishernews.ru/images/PressReleases/press_r_5900FD2F-7D60-441A-B512-C3B597B148C0.jpg" alt="">
  </a>
</div>