.ads {
  span {
    display: block;
    text-align: center;
    font-size: .8rem;
    color: #aaa;
    padding: 0 0 10px;
  }
  
  a {
    display: block;
    border: 1px solid #ccc;
    padding: 3px;
    
    img {
      max-width: 100%;
    }
  }
}