.btn {
  display: inline-block;
  border: 1px solid @blue;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 8px;
  transition: background-color ease .2s, color ease .2s;
  
  &:hover {
    text-decoration: none;
    background: @blue;
    color: #fff;
  }
}