.container {
  width: @full-width;
  margin: 0 auto;
  
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
  }
  
  > div {
    float: left;
    margin: 0 0 0 @gutter-width;
    
    &:first-child {
      margin-left: 0;
    }
  }
  
  .col-12 {
    width: @column-width * 12 + @gutter-width * 11;
  }
  
  .col-11 {
    width: @column-width * 11 + @gutter-width * 10;
  }
  
  .col-10 {
    width: @column-width * 10 + @gutter-width * 9;
  }
  
  .col-9 {
    width: @column-width * 9 + @gutter-width * 8;
  }
  
  .col-8 {
    width: @column-width * 8 + @gutter-width * 7;
  }
  
  .col-7 {
    width: @column-width * 7 + @gutter-width * 6;
  }
  
  .col-6 {
    width: @column-width * 6 + @gutter-width * 5;
  }
  
  .col-5 {
    width: @column-width * 5 + @gutter-width * 4;
  }
  
  .col-4 {
    width: @column-width * 4 + @gutter-width * 3;
  }
  
  .col-3 {
    width: @column-width * 3 + @gutter-width * 2;
  }
  
  .col-2 {
    width: @column-width * 2 + @gutter-width * 1;
  }
  
  .col-1 {
    width: @column-width * 1 + @gutter-width * 0;
  }
}