body {
  background: #f0f1f3;
  font-family: @font-family;
  font-size: @base-font-size;
}

a {
  color: @blue;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0 0 10px;
}

.block {
  background: #fff;
  padding: 15px;
  margin: 0 0 10px;
}

.salary {
  font-family: Arial;
}

#dummy {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: .7rem;
  opacity: .3;
}