.card {
  .card-top {
    .info {
      color: #000;
      span {
        color: #aaa;
      }
    }
  }
  .main {
    .data {
      .position {
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  }
  .contacts {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    font-size: 1.1rem;
    line-height: 1.3;
  }
}

.history {
  list-style: none;
  margin: 0;
  padding: 15px 0 10px;
  > li {
    .clearfix();
    margin: 0 0 20px;
    .main {
      width: 175px;
      float: left;
    }
    .details {
      margin-left: 200px;
      
      ul {
        list-style: none;
        margin: 0;
        padding: 15px 0;
        
        li {
          margin: 0 0 3px;
        }
      }
    }
  }
}