.profiles-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  margin: 0 0 10px;
  padding: 15px;
  background: #fff;
  .card-top {
    .clearfix();
    margin: 0 0 20px;
    .info {
      float: left;
      color: #aaa;
    }
    .favourites {
      float: right;
      a {
        position: relative;
        svg {
          position: absolute;
          top: -1px;
          left: -20px;
        }
        &:hover {
          text-decoration: none;
          opacity: .8;
        }
      }
    }
  }
  .main {
    .clearfix();
    .data {
      margin-right: 150px;
      .title {
        font-size: 1.1rem;
        display: block;
        margin-bottom: 10px;
      }
      p {
        margin: 0 0 3px;
      }
    }
    .userpic {
      float: right;
      width: 100px;
      img {
        max-width: 100%;
      }
    }
  }
  .controls {
    margin: 20px 0 0;
  }
}