@full-width:       960px;
@gutter-width:     10px;
@columns-count:    12;
@column-width:     (@full-width - ((@columns-count - 1) * @gutter-width)) / @columns-count;

@blue:             #007efc;

@base-font-size:   15px;
@font-family:      Helvetica, Arial, sans-serif;