<div class="block">
  <profile-controls profile="vm.profile" purchase-contacts="vm.purchaseContacts"></profile-controls>
</div>
<div class="block card">
  <div class="card-top">
    <div class="info">
      № {{vm.profile.id}}
      <span ng-show="vm.profile.contacts_purchased">во &laquo;Входящих&raquo;</span>
    </div>
    <favourites toggle-favourites="vm.toggleFavourites" profile="vm.profile"></favourites>
  </div>
  <div class="main">
    <div class="userpic" ng-show="vm.profile.userpic">
      <img ng-src="{{vm.profile.userpic}}" alt="{{vm.profile.first_name}} {{vm.profile.second_name}}">
    </div>
    <div class="data">
      <h4 ng-show="vm.profile.contacts_purchased">{{vm.profile.second_name}} {{vm.profile.first_name}} {{vm.profile.middle_name}}</h4>
      <div class="position">{{vm.profile.title}}</div>
      <p><span class="salary">{{vm.profile.salary | currency:"₽":0}}</span>, полный рабочий день, на территории работодателя</p>
      <ul class="contacts" ng-show="vm.profile.contacts_purchased">
        <li><span>+7 903 123-12-12</span> <span>11:00 &ndash; 20:00</span></li>
        <li><span>+7 495 923-36-12</span></li>
        <li><a href="mailto:username@microsoft.com">username@microsoft.com</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="block">
  <h4>Опыт работы {{vm.profile.career_start | experience}}</h4>
  <ul class="history">
    <li>
      <div class="main">
        <b>Ведущий специалист</b>
        <div>7 месяцев</div>
        <div>май 2015 &ndash; по н.в.</div>
      </div>
      <div class="details">
        <b>Wikimart</b>, Москва, полная занятость
        <ul>
          <li>&ndash; Обеспечение исполнения стандартов оформления в офлайн-точках (фотоотчеты)</li>
          <li>&ndash; Обеспечение исполнения стандартов обслуживания</li>
          <li>&ndash; Организация исследований исполнения стандартов обслуживания (организация процесса прослушки аудиозаписей, мониторинга NPS компании, проработка механики исследований)</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="main">
        <b>Ведущий специалист</b>
        <div>7 месяцев</div>
        <div>май 2015 &ndash; по н.в.</div>
      </div>
      <div class="details">
        <b>Wikimart</b>, Москва, полная занятость
        <ul>
          <li>&ndash; Обеспечение исполнения стандартов оформления в офлайн-точках (фотоотчеты)</li>
          <li>&ndash; Обеспечение исполнения стандартов обслуживания</li>
          <li>&ndash; Организация исследований исполнения стандартов обслуживания (организация процесса прослушки аудиозаписей, мониторинга NPS компании, проработка механики исследований)</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="main">
        <b>Ведущий специалист</b>
        <div>7 месяцев</div>
        <div>май 2015 &ndash; по н.в.</div>
      </div>
      <div class="details">
        <b>Wikimart</b>, Москва, полная занятость
        <ul>
          <li>&ndash; Обеспечение исполнения стандартов оформления в офлайн-точках (фотоотчеты)</li>
          <li>&ndash; Обеспечение исполнения стандартов обслуживания</li>
          <li>&ndash; Организация исследований исполнения стандартов обслуживания (организация процесса прослушки аудиозаписей, мониторинга NPS компании, проработка механики исследований)</li>
        </ul>
      </div>
    </li>
  </ul>
  <h4>Высшее образование</h4>
  <ul class="history">
    <li>
      <div class="main">2012</div>
      <div class="details">
        Московский государственный технологический университет &laquo;Станкин&raquo;. <br>
        Информационно-измерительные системы <br>
        Дневная/очная форма обучения <br>
        Автоматизированные системы технологических процессов
      </div>
    </li>
    <li>
      <div class="main">2006</div>
      <div class="details">
        Московский государственный технологический университет &laquo;Станкин&raquo;. <br>
        Информационно-измерительные системы <br>
        Дневная/очная форма обучения <br>
        Автоматизированные системы технологических процессов
      </div>
    </li>
</div>