<div class="favourites">
  <a href="javascript:void(0)" ng-class="profile.in_favourites ? 'added' : ''">
    <span ng-show="profile.in_favourites">
      <svg width="17" height="16" viewBox="505 428 17 16" xmlns="http://www.w3.org/2000/svg"><path fill="#007EFC" fill-rule="evenodd" d="M521.64 434.016l-4.53 3.945 1.367 5.86-5.157-3.125-5.156 3.125 1.367-5.86-4.53-3.944 5.977-.508L513.32 428l2.344 5.508"/></svg>
       <span class="text">В избранных</span>
    </span>
    <span ng-show="!profile.in_favourites">
       <svg width="18" height="17" viewBox="0 1 18 17" xmlns="http://www.w3.org/2000/svg"><path d="M9 12.852l3.125 1.875-.82-3.555 2.773-2.422-3.672-.313L9 5.078l-1.406 3.36-3.672.313 2.773 2.422-.82 3.555L9 12.852zm8.32-5.157l-4.53 3.946 1.366 5.86L9 14.375 3.844 17.5l1.367-5.86L.68 7.696l5.976-.508L9 1.68l2.344 5.508 5.976.507z" fill="#007EFC" fill-rule="evenodd"/></svg>
       <span class="text">В избранные</span>
    </span>
  </a>
</div>