<div class="controls">
  <div ng-show="profile.contacts_purchased">
    <a href="javascript:void(0)" class="btn">Пригласить</a>
    <a href="javascript:void(0)" class="btn">Отклонить&hellip;</a>
    <a href="javascript:void(0)" class="btn">Рассмотреть</a>
  </div>
  <div ng-show="!profile.contacts_purchased">
    <a href="javascript:void(0)" class="btn purchase-contacts">Приобрести контакты</a>
  </div>
</div>