<ul class="profiles-list">
  <li ng-repeat="p in vm.profiles" class="card">
     <div class="card-top">
       <div class="info">
         <span>Обновлено {{p.last_updated | date}}</span><span ng-show="p.contacts_purchased">, во &laquo;Входящих&raquo;</span>
       </div>
       <favourites toggle-favourites="vm.toggleFavourites" profile="p"></favourites>
     </div>
     <div class="main">
       <div class="userpic" ng-show="p.userpic">
         <img ng-src="{{p.userpic}}" alt="{{p.first_name}} {{p.second_name}}">
       </div>
       <div class="data">
         <a ui-sref="profile({id:p.id})" class="title">{{p.title}}</a>
         <p><span class="salary">{{p.salary | currency:"₽":0}}</span>, {{p.age | ages}}, стаж {{p.career_start | experience}}</p>
         <p>{{p.current_position.title}}, {{p.city}}, {{p.current_position.company}}, {{p.current_position.career_start | experience}}</p>
       </div>
     </div>
     <profile-controls profile="p" purchase-contacts="vm.purchaseContacts"></profile-controls>
  </li>
</ul>